body {
  font-family: 'Assistant', sans-serif;
  color: rgb(56, 44, 44);
  background-color: rgb(240, 240, 240);
}

.app {
  display: flex;
  justify-content: center;
}

.container {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  width: 580px;
  height: 500px;
  padding: 10px;
  background-color: #3D5664;
  border-radius: 3px 0 0 3px;
}

.game-piece {
  border-radius: 50%;
  background-color: #fff;
}

.winning-move {
  border: 10px solid rgb(77, 182, 58);
  animation: borderColorChangeAnimation 2s infinite;
}

@keyframes borderColorChangeAnimation {
  0%{
    border: 10px solid rgb(42, 145, 28);
  }
  50%{
    border: 10px solid #61dafb;
  }
  100%{
    border: 10px solid rgb(42, 145, 28);
  }
}

.game-piece.preview {
  opacity: .3;
  animation: previewMoveAnimation 1s infinite;
}

@keyframes previewMoveAnimation {
  0%{
    opacity: .3;
  }
  50%{
    opacity: .8;
  }
  100%{
    opacity: .3;
  }
}

.game-piece:hover {
  cursor: pointer;
}

.game-info {
  width: 300px;
  background-color: white;
  border-radius: 0 3px 3px 0;
  padding: 10px;
  text-align: center;
}

.player-info-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.player-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 5px;
  width: 100%;
}

.player-info ul {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid gray;
  border-radius: 3px;
  box-sizing: border-box;
}

.player-info:first-child::before {
  content: 'player 1';
}

.player-info::before {
  content: 'player 2';
  font-size: 14px;
  text-align: left;
  color: gray;
}

.player-info ul li {
  display: inline-flex;
}

.player-info ul li:not(:last-child) {
  margin-bottom: 8px;
}

.player-info .circle {
  height: 20px;
  width: 80px;
  margin-left: 10px;
  transition: box-shadow .2s ease-out;

}

.player-info .circle:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.75);

}

.chrome-picker {
  position: relative;
}

input {
  height: 26px;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

button {
  border: 1px solid red;
  font-size: 16px;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 3px;
  transition: box-shadow .2s ease-out;
}

button.master {
  color: white;
  background-color: rgb(241, 58, 58);
}

button:hover {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  cursor: pointer;
}

button:focus {
  outline-color: transparent;
  outline-style: none;
}

