/* @import url('https://fonts.googleapis.com/css?family=Assistant:300,400,700'); */

body {
  font-family: 'Assistant', sans-serif;
  color: rgb(56, 44, 44);
}

.container {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  width: 580px;
  height: 500px;
  padding: 10px;
  background-color: #3D5664;
}

.game-piece {
  border-radius: 50%;
  background-color: #fff;
}

.game-piece.preview {
  opacity: .3;
}

.game-piece:hover {
  cursor: pointer;
}

.game-info {
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.player-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 5px;
}

.player-info .circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.player-info .circle:hover {
  cursor: pointer;
}

.chrome-picker {
  position: relative;
}
