
.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  width: 580px;
  height: 500px;
  padding: 10px;
  margin: 0 auto;
  background-color: #3D5664
  ;
}

.game-piece {
  /* height: 75px;
  width: 75px; */
  border-radius: 50%;
  background-color: #fff;
  /* //CFB961 */
}

.game-piece:hover {
  cursor: pointer;
}
